<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        .lal{
            background-color: brown;
            height: 500px;
            width: auto;
        }
    </style>
    
<!-- Assuming you have a variable named 'username' available in your template context -->
<h1>{{ username }}</h1>

<div class="lal">

</div>




</body>
</html>